<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title><%= project %></title>
	
	<link href="/lib/bootstrap.css" rel="stylesheet">
	<link href="/lib/snippet.css" rel="stylesheet">
	
	<link href="/css/style.css" rel="stylesheet">
			
	<script src="/lib/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="/lib/bootstrap.js" type="text/javascript" charset="utf-8"></script>
	<script src="/lib/underscore.js" type="text/javascript" charset="utf-8"></script>
	<script src="/lib/snippet.js" type="text/javascript" charset="utf-8"></script>
	
	<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
	
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="brand pull-left" href="#"><%= project %></a>
			</div>
		</div>
	</div>
	
	<% if (first) { %>
	<div class="container meta" id="info">
		<div class="hero-unit content info">
			<p>You can access this paste at: <strong><%= url %></strong></p>
			<p>To edit your paste, use this password: <strong><%= paste.password %></strong></p>
			
		</div>
	</div>
	<% } %>
	
	<div class="container meta" id="paste">
		<div class="hero-unit content create type-<%= paste.type %>">
			<pre><%= paste.content %></pre>
		</div>
	</div>
	
	<div class="container meta hide" id="loading">
		<div class="hero-unit">
			<h1>Loading...</h1>
			<div class="progress progress-striped active">
			  <div class="bar" style="width: 100%;"></div>
			</div>
		</div>
	</div>

<script type="text/template" id="template-create">
	<form id="paste-create" class="form-horizontal edit create paste">
		<div class="row">
			<textarea name="code" id="code" placeholder="Paste text or code here" />
		</div>
		<div class="row">
				<select name="period" id="period">
					<option value="null">Time limit...</option>
					<option value="1">1 minute</option>
					<option value="60">1 hour</option>
					<option value="1440">1 day</option>
					<option value="10080">1 week</option>
					<option value="forever">Forever</option>
				</select>
				<input type="submit" value="Save" class="btn btn-medium" />
		</div>
	</form>
</script>

</body>

</html>